
$bottom-diffused: 0px 13px 21px -10px rgba(0, 0, 0, 0.3);
$left-diffused: -13px 0px 21px -10px rgba(0, 0, 0, 0.3);
$right-diffused: 13px 0px 21px -10px rgba(0, 0, 0, 0.3);

@mixin box-shadow($shadow) {
    box-shadow: $shadow;
}

#login-page {
    font-family: 'Poppins', sans-serif;
    .container-login {
        display: flex;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        flex-wrap: wrap;
        align-items: center;
        padding: 15px;
        background: linear-gradient(120deg,#73C8A9,#373B44)
    }
    .card-login {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: left;
    }

    .square-login {
        justify-content: space-around;
        width: 50%;
        background: white;
        display: flex;
        border: 1px solid #373B44;
        border-radius: 10px;
        padding-top: 200px;
        padding-bottom: 200px;
        padding-left: 50px;
        padding-right: 50px;
        border: 1px solid #373B44;
    }
    .login-form {
        display: flex;
        flex-direction: column;
        width: 300px;
        box-sizing: border-box;
        align-items: center;
    }
    .header-login-form {
        line-height: 2;
        padding-bottom: 50px;
        font-size: 25px;
        color: black;
        display: block;
    }

    .register-button {
        align-content: left;
    }

}

#register-page {
    font-family: 'Poppins', sans-serif;
    .container-login {
        display: flex;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        flex-wrap: wrap;
        align-items: center;
        padding: 15px;
        background: linear-gradient(120deg,#73C8A9,#373B44)
    }
    .card-login {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .square-login {
        justify-content: space-around;
        width: 50%;
        background: white;
        display: flex;
        border: 1px solid #373B44;
        border-radius: 10px;
        padding-top: 200px;
        padding-bottom: 200px;
        padding-left: 50px;
        padding-right: 50px;
        border: 1px solid #373B44;
    }
    .login-form {
        display: flex;
        flex-direction: column;
        width: 300px;
        box-sizing: border-box;
        align-items: center;
    }
    .header-login-form {
        line-height: 2;
        padding-bottom: 24px;
        font-size: 25px;
        color: black;
        display: block;
    }

    .register-button {
        align-content: left;
    }

}

#kanban-page {
    font-family: 'Poppins', sans-serif;
    // display: flex;
    .container-card {
        display: flex;
        justify-content: space-evenly;
        margin: 10px;
    }
    .container-groups {
        margin-top: 30px;
        // display: flex;
        // flex-direction: row;
        // align-items:center;
        // justify-content: space-evenly;

        #Backlog {
            background-color: #F83201;
            @include box-shadow($bottom-diffused);
        }

        #To-Do {
            background-color: #FA9900;
            @include box-shadow($bottom-diffused);
        }

        #Doing {
            background-color: #3399FF;
            @include box-shadow($bottom-diffused);
        }

        #Done {
            background-color: #32CC66;
            @include box-shadow($bottom-diffused);
        }
    }

    .card {
        border-bottom: 3px solid #373B44;
        width: 428px;
        margin: 10px;
        @include box-shadow($bottom-diffused);
        
    }

    .card-head {
        border: 3px solid black;
    }
}

